<html>
	<head>
		<title>Add a Listing</title>
	</head>
	<body>
  <div class="container containernavpadding">
    <div class="row">
      <div class="col-md-3">
        <!-- Nav tabs -->
        <ul class="nav class icons nav-tabs" role="tablist">
          <li role="presentation"><a href="#food" aria-controls="food"
              role="tab" data-toggle="tab">Food<div> <img
                         src="/img/spotfood.png" class="img1"></div></a></li>
          <li role="presentation"><a href="#events" aria-controls="events"
              role="tab" data-toggle="tab">Events<div> <img
                src="/img/spotcalendar.png" class="img1"></div></a></li>
          <li role="presentation"><a href="#transportation"
          aria-controls="transportation" role="tab"
          data-toggle="tab">Transportation<div> <img
          src="/img/spottransportation.png" class="img1"> </div> </a></li>
          <li role="presentation"><a href="#services" aria-controls="services"
          role="tab" data-toggle="tab">Services<div><img
          src="/img/spotservices.png" class="img1"></div> </a></li>
        </ul>
      </div>

				<div class="col-md-5">
					<h3>Add a Venue</h3>
					<form role="form" method="post" action="/addvenue">
						<div class="form-group">
							<label for="venuename">Venue Name:</label>
							<input type="text" class="input-sm form-control" name="name">
						</div>
	<div class="form-group">
							<label for="address">Address:</label>
							<input type="text" class="input-sm form-control" name="address">
						</div>
						<div class="form">
							<label for="phoneNumber">Phone:</label>   
							<input type="text" class="input-sm form-control" name="phone">
						</div>
						<div class="form-group">
							<label for="website">Website:</label>
							<input class="input-sm form-control" name="website">
						</div>
						<div class="buttonpad">
							<button type="submit" class="btn btn-info">Submit</button>
						</div>
					</form>
				</div> <!-- close col -->
    </div>
  </div>
