  <h1>This is for info and reviews about result</h1>

<div class="col-md-6">
<div class="table-responsive">     
  <table id="venueinfo" class="table" style="text-align:left" width="800px" border="1px"> 
    <th>Restaurant Info</th> 
      <tr>
        <td>                
          <div>
            <h5><p id="description"><strong>Description</strong></p></h5>                        
              <h5>The description goes here.</h5>               
          </div> 
        </td>
      </tr>
      <tr>
        <td>                
          <div>
            <h5><p id="howcontact"><strong>Contact</strong></p> </h5>                         
              <ul>
                 <li>
                  <h6>25 Edwin H Land Boulevard, Cambridge, MA, 02141, USA |  Show on map</h6>
                 <li>
                  <h6>Telephone: +1(617)8688000 | Fax: +1(617)8688001 | Official Homepage</h6>
                 </li>
              </ul>               
          </div> 
        </td>
      </tr> 
