Skip to content
This repository  
Search
Pull requests
Issues
Gist
 @emeraldaly
 Unwatch 2
  Star 1
 Fork 0 evanbates/rutgersflyers
 Code  Issues 2  Pull requests 1  Wiki  Pulse  Graphs
Branch: models Find file Copy pathrutgersflyers/views/home.handlebars
3ace4bb  3 minutes ago
@emeraldaly emeraldaly added tab results
3 contributors @emeraldaly @evanbates @eliezerwohl
RawBlameHistory     49 lines (42 sloc)  1.8 KB
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#food" aria-controls="food" role="tab" data-toggle="tab">Food<div> <img src="/img/spotfood.png"></div> </a></li>
            <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Events<div> <img src="/img/spotcalendar.png"></div></a></li>
            <li role="presentation"><a href="#transportation" aria-controls="transportation" role="tab" data-toggle="tab">Transportation<div> <img src="/img/spottransportation.png"> </div> </a></li>
            <li role="presentation"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services<div><img src="/img/spotservices.png"></div> </a></li>
          </ul>  
      </div>
      <div class ="col-md-8">
        <div>
          

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="food">
              <table class="table table-bordered">
                ...Food
              </table>

            </div>
            <div role="tabpanel" class="tab-pane" id="events">
              <table class="table table-bordered">
                ...Events
              </table>

            </div>
            <div role="tabpanel" class="tab-pane" id="transportation">
              <table class="table table-bordered">
                ...Transportation
              </table>

            </div>
            <div role="tabpanel" class="tab-pane" id="services">
              <table class="table table-bordered">
                ...Services
              </table>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
Status API Training Shop Blog About Pricing
© 2016 GitHub, Inc. Terms Privacy Security Contact Help