<form method="POST" action="/reviews/{{ id }}">
              <input type="text" class="form-control"  placeholder="Write review here" name="review">
              <input type="text" class="form-control" placeholder="Write review here" name="rating">
              <button type="submit" class="btn btn-default dataButton">submit review</button>
            </form>
            <button class="btn btn-default dataButton reviewButton">submit review</button>


            app.post('/reviews/:venueId', function(req, res) {
  Reviews.create({
review: req.body.review,
rating:req.body.rating,
    venueId: req.params.venueId
  }).then(function() {
    res.redirect('/persons');
  });
});

$( ".reviewButton" ).on("click", function(){
  closest( "form" ).show();
  })