<body>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- icons -->
        <ul class="nav class icons list-unstyled" role="icons">
          <li role="presentation"><a href="#food" aria-controls="food"
              role="icons" data-toggle="icons">Food<div> <img
                         src="/img/spotfood.png" class="img1"></div></a></li>
          <li role="presentation"><a href="#events" aria-controls="events"
              role="icons" data-toggle="icons">Events<div> <img
                src="/img/spotcalendar.png" class="img1"></div></a></li>
          <li role="presentation"><a href="#transportation"
          aria-controls="transportation" role="icons"
          data-toggle="icons">Transportation<div> <img
          src="/img/spottransportation.png" class="img1"> </div> </a></li>
          <li role="presentation"><a href="#services" aria-controls="services"
          role="icons" data-toggle="icons">Services<div><img
          src="/img/spotservices.png" class="img1"></div> </a></li>
        </ul>  
      </div>
    </div>
  </div>
</body>