<body>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- icons -->
        <ul class="nav class icons list-unstyled" role="icons">
          <li role="presentation"><a href="#food" aria-controls="food"
              role="icons" data-toggle="icons">Food<div> <img
                         src="/img/spotfood.png" class="img1"></div></a></li>
          <li role="presentation"><a href="#events" aria-controls="events"
              role="icons" data-toggle="icons">Events<div> <img
                src="/img/spotcalendar.png" class="img1"></div></a></li>
          <li role="presentation"><a href="#transportation"
          aria-controls="transportation" role="icons"
          data-toggle="icons">Transportation<div> <img
          src="/img/spottransportation.png" class="img1"> </div> </a></li>
          <li role="presentation"><a href="#services" aria-controls="services"
          role="icons" data-toggle="icons">Services<div><img
          src="/img/spotservices.png" class="img1"></div> </a></li>
        </ul>  
      </div>
    </div>
  </div>
</body>

----

User.bulkCreate([
{ lname: 'Bates', fname: 'Evan', password: 'tester', username: '11104eab', email:'111104eab@gmail.com' },
{ lname: 'Svenson', fname: 'Richard', password: 'tester', username: 'Richardinhouse', email:'richardinhouse@gmail.com' },
{ lname: 'Varga', fname: 'Taylor', password: 'tester', username: 'cuttlefish01', email:'cuttlefish@gmail.com' },
{ lname: 'Wong', fname: 'Kaleigh', password: 'tester', username: 'kwong1', email:'kwong1@gmail.com' },
{ lname: 'Blackwell', fname: 'Hillary', password: 'tester', username: 'hblackwell', email:'hblackwell@gmail.com' },
{ lname: 'Gina', fname: 'Tristan', password: 'tester', username: 'tt_ru', email:'tt_ru@gmail.com' }
]);

<!-- Review.bulkCreate([
{review: "Really the best restaurant place for those so inclined to such things.", rating: "5", venueId: },
{review: 'So amazing! Can't wait to go back again. Definitely recommend, rating: '5', venueId: },
{review: 'Awful service. But the food is good.', rating: '3', venueId: },
{review: 'Such a great spot! Definitely a highlight in New Brunswick. This is going to be a regular place for me!', rating: '5', venueId: },
{review: 'Wish they had more selection. The ambience was meh. Good prices.', rating: '4', venueId: },
{review: 'Perfect if you/'re hungry. Bring your appetite!', rating: '5', venueId: },
{review: 'Hit the spot!', rating: '5', venueId: },
{review: 'Such great staff. They made us feel very welcome and gave us extra bread!', rating: '5', venueId: },
{review: 'Will never go back. We waited for over an hour to be seated. Our food was cold. And the waiter was very rude.', rating: '1', venueId: },
{review: 'A great find. The service, the food, and the location. It was a great meal and fast!', rating: '5', venueId: },
{review: 'Spicy, spicy, spicy. Yum :D', rating: '5', venueId: },
{review: 'A bit overpriced in my opinion.', rating: '3', venueId: },
{review: 'Difficult to find parking. But the food was good.', rating: '4', venueId: },
{review: 'Will definitely bring my friends here when they visit. Very good food.', rating: '5', venueId: },
{review: 'Great variety on the menu! A bit of a wait.', rating: '4', venueId: },
{review: 'Delicious. A bit loud which made catching up difficult.', rating: '4', venueId: },
{review: 'An outrade. How are they still in business? Will never go back here again.', rating: '1', venueId: },
{review: 'I loved the vibe. Great place.', rating: '5', venueId: },
{review: 'Scrumptious. Best meal I've had all week., rating: '5', venueId: },
{review: 'I expect a lot when I go out and this fit the bill. The price was right. The service was good but not n my face. And the menu had a good selection.', rating: '5', venueId: },
{review: 'This was a great place to relax and catch up with friends. I'll be back!, rating: '5', venueId: },
{review: 'I had a great time here. The food was simple with no fuss. It hit the spot.', rating: '5', venueId: },
{review: 'So glad this restaurant came to New Brunswick! Perect for my busy schedule., rating: '5', venueId: },
{review: 'The restaurant was ok. Not too much flavor.', rating: '3', venueId: },
{review: 'Classic!', rating: '5', venueId: },
{review: 'Greasy food. Poor service.', rating: '2', venueId: },
{review: 'Splendid evening. Good eats.', rating: '4', venueId: },
{review: 'They had live music and the food was delicious!', rating: '5', venueId: },
{review: 'Wonderful spot to get work done and get something to eat', rating: '5', venueId: },
{review: 'This is one of my favorite spots in New Brunswick!', rating: '5', venueId: },
{review: 'I eat here almost every day. I wish they delivered', rating: '4', venueId: },
{review: 'This is really good value and food. Get there early as it gets crowded quickly!', rating: '4', venueId: },
{review: 'You need a reservation. Very popular location! Worth the wait.', rating: '5', venueId: },
{review: 'This is a great place to go to study for midterms. There is space to spread out your books. The coffee is good and affordable!', rating: '5', venueId: },
{review: 'They know me by name! Very personable staff.', rating: '5', venueId: },
{review: 'This is a must go to in New Brunswick. The food isn't the best, but it's a tradition!, rating: '5', venueId: },
{review: 'Great selection and flavor.', rating: '5', venueId: },
{review: 'This is the best spot to go! I highly recommend you try this restaurant. Scrumptiousdeliocious!', rating: '5', venueId: },
{review: 'If you're looking for a good meal that is affordable this is a great spot!, rating: '5', venueId: },
{review: 'The bathrooms are gross. The service is not great. It is a fast place to get a meal, but definitely nothing special.', rating: '3', venueId: },
{review: 'Perfect spot for busy students. I eat here all the time. Good price. Good food. Good wifi.', rating: '5', venueId: },
{review: 'The food is good. The setting isn't anything special.", rating: '4', venueId: },
{review: 'Definitely worth checking this place out! The food was good. They split our bill amongst a big group.', rating: '5', venueId: },
{review: 'I proposed to my wife here. It is a special spot!', rating: '5', venueId: },
{review: 'Two thumbs up. Great menu and service. Clean and fun decor.', rating: '5', venueId: },
{review: 'Simple and fast.', rating: '4', venueId: },
{review: 'They have trivia nights every Thursday and karaoke on Mondays. Great spot to come with friends.', rating: '5', venueId: }, 
{review: 'I always come here after class. Great place to recharge.', rating: '5', venueId: },
{review: 'Love this place. Definitely recommend.', rating: '5', venueId: },
]);-->

Venue.bulkCreate([
{ name: 'The Frog and the Peach', address: '29 Dennis St', address2: 'New Brunswick/, NJ 08901', phoneNumber: '(732)846-3216', website: 'frogandpeach.com', CategoryId: 1 },
{ name: 'RU Hungry', address: '159 College Ave.', address 2: 'New Brunswick/, NJ 08901', phoneNumber: '(732)246-2177', website: 'http://ruhungrynj.net/', CategoryId: 1 }
{ name: 'Fritz/'s Restaurant', address: '115 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-543-0202', website: 'www.fritzsnb.com', CategoryId: 1 },
{ name: 'Destination Dogs', address: '101 Paterson St.', address2: 'New Brunswick/, NJ 08901',phoneNumber:'732-993-1016', website: 'www.destinationdogs.com', CategoryId: 1},
{ name: 'Inboston', address: '16 Condict St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-514-0765', website: 'www.inbostonchicken.com', CategoryId: 1 },
{ name: 'Veganized', address: '9 Spring St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-342-7412', website: 'www.veganizedfoods.com', CategoryId: 1},
{ name: 'Clydz', address: '55 Paterson St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-846-6521', website: 'www.clydz.com', CategoryId: 1},
{ name: 'Esquina Latina Restaurant & Lounge', address: '335 George St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-543-1630', website: 'www.esquinalatinarestaurant.com', CategoryId: 1},
{ name: 'Diesel & Duke', address: '1339 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-246-1001', website: 'www.dieselandduke.com', CategoryId: 1},
{ name: 'Chapati House', address: '349 George St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-416-8787', website: 'chapatihousenj.com', CategoryId: 1},
{ name: 'KBG Korean BBQ & Grill', address: '6 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-626-5406', website: 'www.iwantkbg.com', CategoryId: 1},
{ name: 'El Oaxaqueño Mexican Restaurant', address: '260 Drift St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-545-6869', website: 'eloaxaqueno.com', CategoryId: 1},
{ name: 'Due Mari', address: '78 Albany St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-296-1600', website: 'duemarinj.com', CategoryId: 1},
{ name: 'Efes Restaurant', address: '32 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-249-4100', website: 'www.efesgrill.com', CategoryId: 1},
{ name: 'Sahara Restaurant', address: '165 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-246-3020', website: 'www.saharacafenj.com', CategoryId: 1},
{ name: 'Dashen Ethiopian Cuisine', address: '88 Albany St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-249-0494', website: 'www.destaethiopiannj.com', CategoryId: 1},
{ name: 'The Dillinger Room', address: '338 George St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-214-0223', website: 'thedillingerroom.com', CategoryId: 1},
{ name: 'Steakhouse 85', address: '85 Church St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-247-8585', website: 'www.steakhouse85.com', CategoryId: 1},
{ name: 'My Way Korean Restaurant', address: '351 George St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-545-5757', website: 'www.mywaynj.com', CategoryId: 1},
{ name: 'Mamoun\'s Falafel Restaurant', address: '58 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-640-0794', website: 'mamouns.com', CategoryId: 1},
{ name: 'Stuff Yer Face', address: '49 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-247-1727', website: 'www.stuffyerface.com', CategoryId: 1},
{ name: 'Thomas Sweet Ice Cream', address: '55 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-828-3855', website: 'thomassweet.com', CategoryId: 1},
{ name: 'Thai Noodle', address: '174 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-247-6938', website: 'allmenus.com', CategoryId: 1},
{ name: 'Eastonthai Kitchen', address: '144 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-253-7722', website: 'scarletmenus.com', CategoryId: 1},
{ name: 'Nirvani's Indian Kitchen, address: '56 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-253-0507', website: 'www.nirvaniskitchen.com', CategoryId: 1},
{ name: 'Old Man Rafferty/'s', address: '106 Albany St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-846-6153', website: 'www.oldmanraffertys.com', CategoryId: 1},
{ name: 'Hidden Grounds', address: '4C Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-317-4117', website: 'www.thehiddengrounds.com', CategoryId: 1},
{ name: 'NJ Transit', address: 'French & Albany Sts.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '(973) 275-5555', website: 'http://www.njtransit.com/', CategoryId: 2 },      
{ name: 'NJ Bus Station', address: '750 Somerset St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-249-1100', website: 'http://www.coachusa.com/', CategoryId: 2 },    
{ name: 'Newark Airport', address: '3 Brewster Rd', address2: 'Newark/, NJ 07114', phoneNumber: '973-961-6000', website: 'http://www.panynj.gov/airports/newark-liberty.html', CategoryId: 2 },    
{ name: 'JFK Airport', address: 'JFK Airport', address2: 'New York/, NY 11430', phoneNumber: '718-244-4444', website: 'http://www.panynj.gov/airports/jfk.html', CategoryId: 2 },   
{ name: 'LaGuardia Airport', address: 'LaGuardia Airport', address2: 'New York/, NY 11371', phoneNumber: '718-533-3400', website: 'http://www.panynj.gov/airports/laguardia.html', CategoryId: 2 },    
{ name: 'RU NextBus', address: '55 Commercial Avenue', address2: 'New Brunswick/, NJ 08901' phoneNumber: '732-932-7744', website: 'http://rudots.rutgers.edu/campusbuses.shtml', CategoryId: 2 },  
 { name: 'The Knight Mover', address: '55 Commercial Avenue', address2: 'New Brunswick/, NJ 08901' phoneNumber: '732-932-7433', website: 'http://rudots.rutgers.edu/campusbuses.shtml', CategoryId: 2 },  
 { name: 'New BrunsQuick Shuttles', address: '55 Commercial Avenue', address2: 'New Brunswick/, NJ 08901' phoneNumber: '732-932-7744', website: 'http://rudots.rutgers.edu/campusbuses.shtml', CategoryId: 2 }, 
{ name: 'Uber', address: 'NA', address2: 'NA', phoneNumber: 'NA', website: 'www.uber.com', CategoryId: 2 },  
{ name: 'Library Shuttle', address: '55 Commercial Avenue', address2: 'New Brunswick/, NJ 08901' phoneNumber: '732-932-7744', website: 'http://rudots.rutgers.edu/campusbuses.shtml', CategoryId: 2 },   
{ name: 'All Brunswick Taxi', address: '139 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-545-0900', website: '', CategoryId: 2 }, 
{ name: 'Yellow Cab of New Brunswick', address: 'NA', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-246-2222', website: 'http://www.yellowcabnewbrunswick.com/', CategoryId: 2 }, 
{ name: 'ALLO Taxi', address: 'NA', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-214-1111', website: 'www.allotaxi.com', CategoryId: 2 }, 
{ name: 'SEPTA', address: '1234 Market Street.', address2: 'Philadelphia/, PA 19107', phoneNumber: '(215) 580-7800', website: 'http://www.septa.org/', CategoryId: 2 },  
{ name: 'PATH', address: 'NA', address2: 'NA', phoneNumber: '800-234-7284', website: 'http://www.panynj.gov/path/', CategoryId: 2 },
{ name: 'Key Foods', address: '95 Paterson St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-317-0590', website: 'http://www.keyfoodnewbrunswick.com/', categoryId: 3 },
{ name: 'Robert Wood Johnson Fitness & Wellness Center', address: '100 Kirkpatrick St., Suite 201', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-873-1222', website: 'http://rwjfitnesswellness.com/', categoryId: 3 },
{ name: 'George Street Co-Op', address: '89 Morris St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-247-8280', website: 'http://georgestreetcoop.com/', categoryId: 3 },
{ name: 'New Brunswick Post Office', address: '86 Bayard St.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-545-6819', website: 'www.usps.com', categoryId: 3 },
{ name: 'Saint Peter's University Hospital, address: '254 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-745-8600', website: 'www.saintpetershcs.com', categoryId: 3 },
{ name: 'Robert Wood Johnson University Hospital, address: '1 Robert Wood Johnson Pl.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-828-3000', website: 'www.rwjuh.edu', categoryId: 3 },
{ name: 'Sparks Hair Design', address: '72 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-828-1414', website: 'http://www.sparkshairdesign.com/', categoryId: 3 },
{ name: 'Moda Hair Salon', address: '16 Easton Ave.', address2: 'New Brunswick/, NJ 08901', phoneNumber: '732-249-3636', website: 'http://modasalonnj.com/', categoryId: 3 },
{ name: 'Organic Open Mic at the Cafe', address: '89 Morris St.', address2: 'New Brunswick/, NJ 08901', date: 'March 3/, 2016', time: '7:30 pm', phoneNumber: '732-247-8280', website: 'http://georgestreetcoop.com/', categoryId: 4 },
{ name: 'Organic Open Mic at the Cafe', address: '89 Morris St.', address2: 'New Brunswick/, NJ 08901', date: 'March 10, 2016', time: '7:30 pm', phoneNumber: '732-247-8280', website: 'http://georgestreetcoop.com/', categoryId: 4 },
{ name: 'International Women's Day', address: '89 Morris St.', address2: 'New Brunswick/, NJ 08901', date: 'March 8, 2016', time: 'all day', phoneNumber: '732-247-8280', website: 'http://georgestreetcoop.com/', categoryId: 4 },
{ name: 'The Positive Potluck', address: '89 Morris St.', address2: 'New Brunswick/, NJ 08901', date: 'March 11, 2016', time: '7:30 pm', phoneNumber: '732-247-8280', website: 'http://georgestreetcoop.com/', categoryId: 4 },
{ name: 'Cult of Lunacy comedy show', address: '89 Morris St.', address2: 'New Brunswick/, NJ 08901', date: 'March 12, 2016', time: '7:00 pm', phoneNumber: '732-247-8280', website: 'http://georgestreetcoop.com/', categoryId: 4 },
{ name: 'Lovey Williams: One Man Band', address: '15 Livingstonn Ave.', address2: 'New Brunswick/, NJ 08901', date: 'March 5, 2016', time: ' 10 am & 12 pm', phoneNumber: '732-246-7469', website: 'http://www.statetheatrenj.org/', categoryId: 4 },
{ name: 'Vienna Mozart Orchestra', address: '15 Livingstonn Ave.', address2: 'New Brunswick/, NJ 08901', date: 'March 5, 2016', time: '8 pm', phoneNumber: '732-246-7469', website: 'http://www.statetheatrenj.org/', categoryId: 4 },
{ name: 'Galumpha', address: 'Cross Roads Theatre', address2: 'New Brunswick/, NJ 08901', date: 'March 6, 2016', time: '2 pm & 5 pm', phoneNumber: '732-246-7469', website: 'http://www.statetheatrenj.org/', categoryId: 4 },
{ name: 'Howie Mandel', address: '15 Livingstonn Ave.', address2: 'New Brunswick/, NJ 08901', date: 'March 10, 2016', time: '8 pm', phoneNumber: '732-246-7469', website: 'http://www.statetheatrenj.org/', categoryId: 4 },
{ name: 'The Chieftains', address: '15 Livingstonn Ave.', address2: 'New Brunswick/, NJ 08901', date: 'March 11, 2016', time: '8 pm', phoneNumber: '732-246-7469', website: 'http://www.statetheatrenj.org/', categoryId: 4 },
{ name: 'Bobby Bandiera/'s Tribute to Bruce Springstein/, Bon Jovia/, Southside Johnny/, and Others address: '15 Livingstonn Ave.', address2: 'New Brunswick/, NJ 08901', date: 'March 12, 2016', time: '8 pm', phoneNumber: '732-246-7469', website: 'http://www.statetheatrenj.org/', categoryId: 4 }, 
]);

Category.bulkCreate([
{ category: 'Food' },
{ category: 'Transportation' },
{ category: 'Services'},
{ category: 'Events' }
 ]);