<body>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- icons -->
        <ul class="nav class icons list-unstyled" role="icons">
          <li role="presentation"><a href="#food" aria-controls="food"
              role="icons" data-toggle="icons">Food<div> <img
                         src="/img/spotfood.png" class="img1"></div></a></li>
          <li role="presentation"><a href="#events" aria-controls="events"
              role="icons" data-toggle="icons">Events<div> <img
                src="/img/spotcalendar.png" class="img1"></div></a></li>
          <li role="presentation"><a href="#transportation"
          aria-controls="transportation" role="icons"
          data-toggle="icons">Transportation<div> <img
          src="/img/spottransportation.png" class="img1"> </div> </a></li>
          <li role="presentation"><a href="#services" aria-controls="services"
          role="icons" data-toggle="icons">Services<div><img
          src="/img/spotservices.png" class="img1"></div> </a></li>
        </ul>  
      </div>
    </div>
  </div>
</body>

----

/ User.bulkCreate([
//  { lname: 'Bates', fname: 'Evan', password: 'tester', username: '11104eab', email:'111104eab@gmail.com' },
//    { lname: 'Svenson', fname: 'Richard', password: 'tester', username: 'Richardinhouse', email:'richardinhouse@gmail.com' },
//    { lname: 'Varga', fname: 'Taylor', password: 'tester', username: 'cuttlefish01', email:'cuttlefish@gmail.com' },
//    { lname: 'Wong', fname: 'Kaleigh', password: 'tester', username: 'kwong1', email:'kwong1@gmail.com' },
//    { lname: 'Blackwell', fname: 'Hillary', password: 'tester', username: 'hblackwell', email:'hblackwell@gmail.com' },
//    { lname: 'Tryst', fname: 'Tristan', password: 'tester', username: 'tt_ru', email:'tt_ru@gmail.com' }
// ]);

// Review.bulkCreate([
//     {review: "Really the best restaurant place for those so inclined to such things.", rating: "5"}
//  ]);

// Venue.bulkCreate([
// { name: 'The Frog and the Peach', address: '29 Dennis St', phoneNumber: '(732)846-3216', website: 'frogandpeach.com' },
// { name: 'RU Hungry', address: 'New Brunswick', phoneNumber: '(732)246-2177', website: 'http://ruhungrynj.net/' }

//]);

// Category.bulkCreate([
//    { category: 'Food' },
//    { category: 'Transportation' },
//    { category: 'Services'},
//    { category: 'Events' }

//    ]);