.containernavpadding {
  padding-top: 50px;
}
.navbar{
  position: relative;
}
a.hello{
 font-size: 120%;
color: #df665b;


}
a.linklogo {
  color: white;
}
.imgbrand {
  font-size: 120%;
  font-color: white;
  width: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  margin: auto;
}
.imgbrandimg {
  height: 55px;
  padding-bottom: 14px;
}
.rating{
color: #df665b;

}
.img1{
  height: 120px;
  width: 120px; 
  padding: 10px;
}
.navbar {
  font-size: 1.1em;
}

h3 {
  text-align: center;
}
a.title{
 color: #df665b;
 } 
h2{
  font-family: "Raleway";
}
.detailcont{
padding-top: 50px;

}
.detitle{
  color: #32A490;
}
.loginInput {
  width: 250px
}
.dropdown-menu {
  padding:10px;
}
.hbname{
color: #df665b;
}

.reviewForm{
 display: none;
}

.ratingInput{
  width: 10.0em;
}


