.containernavpadding {
  padding-top: 80px;
}
img {
 height: 150px;
width: 150px; 
padding: 10px;
}


h3 {
  text-align: center;
}
h2{
font-family: "Raleway";
}

.dropdown-menu {
padding:10px;
}

.navbar{
  font-size: 1.1em;
}
.brand1{
font-size: 120%;
width: 100%;
left: 0;
position: absolute;
text-align: center;
margin: auto;
}

